<figure class="thredded--email-post">
  <figcaption class="thredded--email-post--author">
    <%= @post.user.thredded_display_name %> <%= link_to 'said', post_permalink_url(@post) %>:
  </figcaption>
  <blockquote class="thredded--post--content">
    <%= @post.filtered_content(self) %>
  </blockquote>
</figure>
<hr />

<p>
  This email was sent to you because you are following this topic
  "<%= link_to @post.postable.title, post_permalink_url(@post.id) %>".
  <%= link_to 'View the conversation here', topic_url(@post.postable) %>.
</p>

<p>
  To unsubscribe from these emails, update your
  <%= link_to 'preferences', edit_messageboard_preferences_url(@post.messageboard) %>.
</p>
