<%== @topic.posts.first.filtered_content %>

<hr />

<p>
  This email was sent to you because <%= @topic.user %> included you in a
  private topic, "<%= link_to @topic.title, messageboard_topic_posts_url(@topic.messageboard, @topic) %>".
  <%= link_to 'Go here', messageboard_topic_posts_url(@topic.messageboard, @topic) %> to view the conversation.
</p>

<p>
  To unsubscribe from these emails, update your
  <%= link_to 'preferences', edit_messageboard_preferences_url(@topic.messageboard) %>.
</p>
