<blockquote><%= @topic.posts.first.filtered_content(self) %></blockquote>

<hr />

<p>
  This email was sent to you because <%= @topic.user %> included you in a
  private topic, "<%= link_to @topic.title, @topic %>".
  <%= link_to 'Go here', @topic %> to view the conversation.
</p>

<% if false # TODO: implement global notification preferences for private topics. %>
<p>
  To unsubscribe from these emails, update your
  <%= link_to 'preferences', edit_messageboard_preferences_url(@topic.messageboard) %>.
</p>
<% end %>
