<%== @private_topic.posts.first.filtered_content %>

<hr />

<p>
  This email was sent to you because <%= @private_topic.user %> included you in a
  private topic, "<%= link_to @private_topic.title, messageboard_topic_posts_url(@private_topic.messageboard, @private_topic) %>".
  <%= link_to 'Go here', messageboard_topic_posts_url(@private_topic.messageboard, @private_topic) %>
  to view the conversation.
</p>

<p>
  To unsubscribe from these emails, update your
  <%= link_to 'preferences', edit_messageboard_preferences_url(@private_topic.messageboard) %>.
</p>
