<div class="thredded--email">
  <figure class="thredded--email-post">
    <figcaption class="thredded--email-post--author">
      <%= @post.user.thredded_display_name %> <%= link_to 'said', private_post_permalink_url(@post) %>:
    </figcaption>
    <blockquote class="thredded--post--content">
      <%= @post.filtered_content(self) %>
    </blockquote>
  </figure>
  <hr/>
  <p>
    This email was sent to you because <%= @topic.user.thredded_display_name %> included you in a
    private topic, "<%= link_to @topic.title, private_topic_url(@topic) %>".
  </p>

  <p>
    To unsubscribe from these emails, update your <%= link_to 'preferences', edit_preferences_url %>.
  </p>
</div>
