<%= content_tag_for :article, topic, class: "topics--topic #{topic.css_class}" do %>
  <div class="topics--posts-count"><%= topic.posts_count %></div>

  <h1 class="topics--title">
    <%= link_to topic.title,
      messageboard_topic_posts_path(
        messageboard.slug,
        topic.slug
      )
    %>
  </h1>

  <cite class="topics--updated-by">
    <%== topic.updated_at_timeago %>
    <%== topic.last_user_link %>
  </cite>

  <cite class="topics--started-by">
    <%== topic.created_at_timeago %>
    <%== topic.user_link %>
  </cite>

  <% if topic.categories.any? %>
    <ul class="topics--categories">
      <%= render topic.categories %>
    </ul>
  <% end %>
<% end %>
