<% content_for :thredded_page_title, t('thredded.messageboard.create') %>
<% content_for :thredded_page_id, 'thredded--messageboards-new' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><%= t('thredded.messageboard.create') %></li>
  </ul>
<% end %>

<%= thredded_page do %>
  <%= form_for @messageboard, html: { class: 'thredded--form' } do |f| %>
    <ul class="thredded--form-list">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, required: true %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </li>
      <li>
        <%= f.label :thredded_messageboard_group_id %>
        <%= f.collection_select :thredded_messageboard_group_id, Thredded::MessageboardGroup.all, :id, :name,
                                :include_blank => t('thredded.messageboard.form.no_group') %>
      </li>
      <li><%= f.submit t('thredded.messageboard.create'), class: 'thredded--form--submit' %></li>
    </ul>
  <% end %>
<% end %>
