<% content_for :thredded_page_title, 'Create a New Messageboard' %>
<% content_for :thredded_page_id, 'thredded--messageboards-new' %>
<%= thredded_page do %>
  <%= form_for @messageboard do |f| %>
    <ul class="thredded--form-list">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </li>

      <li><%= f.submit 'Create New Messageboard', class: 'thredded--form--submit' %></li>
    </ul>
  <% end %>
<% end %>
