<% if can? :read, messageboard.original %>
  <div class="messageboard">
    <header>
      <h2 class="messageboard--title">
        <%= link_to messageboard.name, messageboard_topics_path(messageboard) %>
      </h2>

      <h3 class="messageboard--meta"><%= messageboard.meta %></h3>
    </header>

    <p class="messageboard--description"><%= messageboard.description %></p>

    <p class="messageboard--byline">
      Updated <%= messageboard.latest_topic_timeago %>
      <cite>by <%= messageboard.latest_user %></cite>
    </p>
  </div>
<% end %>
