<% content_for :thredded_page_title, "Theme Preview" %>
<% content_for :thredded_page_id, 'thredded_theme' %>
<% content_for :thredded_javascript do %>
  <script>
    thredded = new Thredded;
    thredded.topicForm.init();
    thredded.privateTopicForm.init();
    thredded.postForm.init();
    thredded.timestamps.init();
    thredded.searchBar.init();
    thredded.dropForms.init();
  </script>
<% end %>

<div class="container">
  <header class="navigation" role="banner">
    <%= render 'thredded/shared/top_nav' %>
    <%= render 'thredded/search/form' %>
    <%= render 'thredded/shared/topic_nav' %>
  </header>

  <div class="main" id="main-container">

    <!-- ************************ -->
    <!-- messageboards#index      -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section messageboards' do %>
      <%= render @messageboards %>
      <%= button_to 'Create a New Messageboard',
        new_messageboard_path,
        method: 'get',
        class: 'button-wide'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#index             -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section topics' do %>
      <%= render 'thredded/topics/form',
        messageboard: messageboard,
        topic: @new_topic,
        css_class: 'topic-form is-compact',
        placeholder: 'Start a New Topic'
        %>

      <%= render @decorated_topics  %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#show              -->
    <!-- ************************ -->

    <%= content_tag_for :section, @topic, class: "main-section #{@user_topic.css_class}" do %>
      <header>
        <h1><%= @topic.title %></h1>

        <cite class="topic-started-by">
          <%== @topic.decorate.created_at_timeago %>
          <%== @topic.decorate.user_link %>
        </cite>
      </header>

      <%= render @posts %>

      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @topic,
        post: @post,
        button_text: 'Submit Reply'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#new               -->
    <!-- ************************ -->

    <%= render 'thredded/topics/form',
      messageboard: messageboard,
      topic: @new_topic,
      css_class: 'topic-form',
      placeholder: 'Start a New Topic'
      %>

    <!-- ************************ -->
    <!-- posts#edit               -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section posts-form' do %>
      <h1>Edit Post</h1>

      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @topic,
        post: @post,
        button_text: 'Update Post'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#index     -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section private-topics' do %>
      <%= render 'thredded/private_topics/no_private_topics' %>

      <!-- 👆  no topics found || 👇  existing private topics  -->

      <%= render 'thredded/private_topics/form',
        messageboard: messageboard,
        private_topic: @new_private_topic,
        css_class: 'private-topic-form is-compact',
        placeholder: 'Start a New Private Topic'
        %>

      <%= render @decorated_private_topics %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#new       -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section private-topics-form' do %>
      <%= render 'thredded/private_topics/form',
        messageboard: messageboard,
        private_topic: @new_private_topic,
        css_class: 'private-topic-form',
        placeholder: 'New Private Topic Title'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#show      -->
    <!-- ************************ -->

    <%= content_tag_for :section, @private_topic, class: 'main-section private-topic' do %>
      <header>
        <h1><%= @private_topic.title %></h1>
      </header>

      <%= render @private_topic.posts %>

      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @private_topic,
        post: @post,
        button_text: 'Submit Reply'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#pagination        -->
    <!-- ************************ -->

    <footer>
      <%= paginate @topics %>
    </footer>
  </div>

  <aside>
    <%= render 'thredded/shared/currently_online' %>
  </aside>

  <%= content_tag :section, class: 'notification-preferences is-hidden' do %>
    <h1>Your Notification Settings For <em><%= messageboard.name %></em></h1>

    <%= render 'thredded/preferences/form',
      messageboard: messageboard,
      preference: @preference
      %>
  <% end %>

  <%= content_tag :section, class: 'session-preferences is-hidden' do %>
    <h1>Sign In or Register</h1>

    <%= render 'thredded/sessions/form'%>
  <% end %>
</div>
