<%= form_for(@messageboard,
  validate: true,
  as: :messageboard,
  url: create_setup_path,
  method: :post) do |f| %>

  <div id="setup-container">
    <p class="setup-overview-text">
      These will be the settings and permissions for your first thredded
      messageboard.
    </p>

    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>

      <dt><%= f.label :description %></dt>
      <dd><%= f.text_field :description %></dd>

      <dt><%= f.label :security %></dt>
      <dd>
        <%= f.select :security, [:private, :public, :logged_in] %>
        <br>
        <p class="setup-explanation-text">
          This will set the visibility of your messageboard to the public
          members.
        </p>
      </dd>


      <dt><%= f.label :posting_permission %></dt>
      <dd>
        <%= f.select :posting_permission, [:members, :logged_in, :anonymous] %>
        <br>
        <p class="setup-explanation-text">
          The required minimum permissions to post in your messageboard.
        </p>
      </dd>
    </dl>

    <%= f.submit 'Continue', :class => 'btn setup-continue-btn' %>
  </div>
<% end %>
