<% actions ||= {} %>
<% actions_html = capture do %>
  <%= view_hooks.post_common.actions.render self, post: post do %>
    <% if actions[:quote] && post.can_reply? %>
      <%= render 'thredded/posts_common/actions/quote', post: post %>
    <% end  %>
    <% if post.can_update? %>
      <%= render 'thredded/posts_common/actions/edit', post: post %>
    <% end %>
    <% if post.can_destroy? %>
      <%= render 'thredded/posts_common/actions/delete', post: post %>
    <% end %>
    <% if post.read_state %>
      <%= view_hooks.post_common.mark_as_unread.render self, post: post do %>
        <%= render 'thredded/posts_common/actions/mark_as_unread', post: post %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%- if actions_html.present? %>
  <div class='thredded--post--dropdown'>
    <%= inline_svg_tag 'thredded/three-dot-menu.svg', class: 'thredded--post--dropdown--toggle' %>
    <div class='thredded--post--dropdown--actions'>
      <%= actions_html %>
    </div>
  </div>
<% end %>
