<% post = Thredded::PostDecorator.new(post) %>

<%= content_tag :article, id: dom_id(post), class: 'thredded--post' do %>
  <header>
    <%= image_tag post.avatar_url, class: 'thredded--post--avatar' unless post.user_anonymous? %>
    <h2 class="thredded--post--user"><%= user_link post.user %></h2>
    <p class="thredded--post--created-at"><%= time_ago post.created_at %></p>

  </header>

  <div class="thredded--post--content">
    <% cache [post, 'content'] do %>
      <%= post.filtered_content(self) %>
    <% end %>
  </div>

  <% if current_ability.can? :edit, post.original %>
    <%= link_to 'Edit Post', edit_post_path(post.original), class: 'thredded--post--edit' %>
  <% end %>

  <% if current_ability.can? :destroy, post.original %>
    <%= link_to 'Delete Post', delete_post_path(post.original),
      method: :delete,
      class: 'thredded--post--delete',
      data: { confirm: I18n.t('thredded.posts.delete.confirm') }
    %>
  <% end %>
<% end %>
