<!DOCTYPE html>
<html>
<head>
  <title>
    <%= safe_join([yield(:thredded_page_title).presence, 'Thredded Demo'].compact, ' | ') %>
  </title>
  <%= stylesheet_link_tag current_theme, media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', async: true, 'data-turbolinks-track': 'reload',
                             defer: !!Rails.application.config.assets.debug %>
  <%= csrf_meta_tags %>
  <%== Gravatar.prefetch_dns if content_for?(:thredded) %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= yield :head %>
</head>
<body class="app<%= ' app-layout' unless content_for?(:no_app_layout) %>">
<% if ENV['GA_TRACKING_ID'] -%>
    <script data-turbolinks-eval="false">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= ENV['GA_TRACKING_ID'] %>', 'auto');
    </script>
    <script>
      ga('set', 'location', location.href.split('#')[0]);
      ga('send', 'pageview', {"title": document.title});
    </script>
<% end -%>
<% unless content_for?(:no_app_layout) %>
    <div class="app-container">
      <%= render 'shared/header' %>
      <%= render 'shared/flash_messages' unless content_for?(:thredded_page_id) %>
      <div class="app-content-container"><%= yield %></div>
    </div>
<% else %>
    <%= yield %>
<% end %>
</body>
</html>
