<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :thredded_page_title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= yield :thredded_page_id %>">
    <div id='header'>
      <% if signed_in? %>
        <%= current_user %> | <%= link_to 'Sign out', main_app.session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', main_app.sessions_new_path %>
      <% end %>
    </div>

    <% [:info, :error, :notice, :alert, :warning].each do |key| %>
      <% if flash[key] %>
        <div class="<%= key %>" id="flash">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
