<div class="app-home thredded--main-container">
  <a class="demo-lead" href="<%= thredded.messageboards_path %>">
    Forums Demo ›
  </a>
  <hr>

  <p>
    <a href="https://github.com/thredded/thredded">Thredded</a> is a Rails 4.2+ forum/messageboard engine.<br>
    Its goal is to be as simple and feature-rich as possible.
  </p>

  <section>
    <p>Some of the features currently in Thredded:</p>

    <ul>
      <li>Markdown post formatting, with some BBCode support.</li>
      <li>(Un)read posts tracking.</li>
      <li>Email notifications, @-mentions, per-messageboard notification settings.</li>
      <li>Private group messaging.</li>
      <li>Full-text search using the database.</li>
      <li>Pinned and locked topics.</li>
      <li>List of currently online users, for all forums and per-messageboard.</li>
      <li>Flexible permissions system.</li>
      <li>Lightweight default theme configurable via Sass.</li>
    </ul>

    <p>Planned features:</p>

    <ul>
      <li>Flexible moderation system with per-messageboard settings.</li>
    </ul>

    <p>Thredded has no infrastructure dependencies other than the database.<br>
      Currently, Thredded supports SQLite, MySQL v5.6.4+, and PostgreSQL.</p>
  </section>

  <section>
    <h3>Demo URLs of Note</h3>
    <ul>
      <% unless Rails.env.production? -%>
        <li><%= link_to 'Theme Preview', thredded.theme_preview_path %> - a single page aggregating all of the views and
          styles.
        </li>
      <% end -%>
      <li><%= link_to 'Email Templates', rails_email_preview.rep_root_url %> - previews of all emails sent by
        Thredded.
      </li>
      <li><%= link_to 'Sign in', new_user_session_path %> as anyone to post, create threads, etc. The only requirement in
        this demo app is a username.
      </li>
    </ul>
  </section>

  <p>
    See the <a href="https://github.com/thredded/thredded">source code on GitHub</a>.
  </p>

  <footer>
    <p>This demo app is powered by Rails v<%= Rails::VERSION::STRING %>.</p>
  </footer>
</div>
