<header role="banner" class="app-header">
  <span class="app-nav-auth">
    <% if the_current_user %>
        <%= link_to the_current_user.name, user_path(the_current_user) %>
        |
        <%= link_to 'Sign out', main_app.destroy_user_session_path,
                    method: :delete %>
    <% else %>
        <%= link_to 'Sign in', main_app.new_user_session_path %>
    <% end %>
  </span>
  <a class="app-nav-logo" href="/">Thredded Demo</a>
  <div class="app-nav-theme">
    Theme:
    <ul>
      <% themes.each do |theme| %>
          <%= content_tag :li, theme.humanize, class: ('app-current' if theme == current_theme), 'data-theme' => theme -%>
      <% end %>
    </ul>
  </div>
  <div class="app-nav-locale">
    I18n:
    <ul>
      <% I18n.available_locales.each do |locale| %>
          <%= content_tag :li, locale, class: ('app-current' if locale.to_s == I18n.locale.to_s), 'data-locale' => locale -%>
      <% end %>
    </ul>
  </div>
</header>
