<% content_for :thredded_page_title, t('thredded.preferences.edit.page_title') %>
<% content_for :thredded_page_id, 'thredded--preferences' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>
  <section class="thredded--main-section thredded--preferences">
    <section class="thredded--preferences--form">
      <h2 class="thredded--preferences--title"><%= t 'thredded.preferences.global_preferences_title' %></h2>
      <%= render 'thredded/preferences/form', preferences: @preferences %>
    </section>
    <% unless preferences.messageboard %>
      <section class="thredded--preferences--messageboards-nav">
        <h2 class="thredded--preferences--title">
          <%= t 'thredded.preferences.messageboard_preferences_nav_title' %>
        </h2>
        <%= render 'thredded/preferences/messageboards_nav', preferences: @preferences %>
      </section>
    <% end %>
  </section>
<% end %>
