<fieldset>
  <legend>Update Preferences For <%= messageboard.name %></legend>

  <%= form_for [messageboard, preference], url: messageboard_preferences_path(messageboard) do |f| %>
    <%= render 'thredded/shared/error_msgs' %>

    <ul>
      <li>
        <%= f.label :notify_on_mention, "Notify me when I am @'ed" %>
        <%= f.check_box :notify_on_mention %>
      </li>
      <li>
        <%= f.label :notify_on_message, 'Notify me when I am included in a private topic' %>
        <%= f.check_box :notify_on_message %>
      </li>
      <li>
        <%= f.label :filter, 'Preferred post filter' %>
        <%= f.select :filter, Thredded::Post.filters %>
      </li>
      <li class="submit"><%= f.submit 'Update Preferences' %></li>
    </ul>
  <% end %>
</fieldset>
