<% unless !messageboard_or_nil.try(:persisted?) && !Thredded.standalone_layout? %>
  <nav class="thredded--user-navigation" role="navigation">
    <div class="thredded--user-navigation--search">
      <%= render 'thredded/search/form' %>
    </div>

    <ul class="thredded--user-navigation--actions">
      <% if signed_in? %>
        <% if Thredded.standalone_layout? %>
          <li>
            <%= link_to user_path(thredded_current_user) do %>
              <span><%= thredded_current_user %></span>
            <% end %>
          </li>
        <% end %>

        <%= render 'thredded/shared/notification_preferences',
          messageboard: messageboard %>

        <% if Thredded.standalone_layout? %>
          <li>
            <%= link_to main_app.session_path, method: :delete do %>
              <span>Sign Out</span>
            <% end %>
          </li>
        <% end %>
      <% elsif Thredded.standalone_layout? %>
        <li>
          <%= link_to main_app.sessions_new_path do %>
            <span>Sign In / Register</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
