<div class="topic_nav">
  <% cache ['topic-nav-actions', current_user, messageboard] do %>
    <% if can? :create, messageboard.topics.build %>
      <ul class="actions">
        <li class='new_topic'><%= link_to 'new topic', new_messageboard_topic_path(messageboard) %></li>
        <li class='new_private_topic'><%= link_to 'private topic', new_messageboard_private_topic_path(messageboard) %></li>
      </ul>
    <% end %>
  <% end %>

  <ul class="listings">
    <li class="topic_list"><%= link_to 'topics', messageboard_topics_path %></li>
    <li class="private_topic_list">
      <%= link_to messageboard_private_topics_path,
        class: "unread-#{current_user.unread_private_topics_count}" do %>
        private topics
        <span><%= current_user.unread_private_topics_count %></span>
      <% end %>
    </li>

    <%= render 'thredded/search/form' %>
  </ul>
</div>
