<% content_for :thredded_page_title, "Theme Preview" %>
<% content_for :thredded_page_id, 'thredded_theme' %>
<% content_for :thredded_javascript do %>
  <script>
    thredded = new Thredded;
    thredded.topicForm.init();
    thredded.postForm.init();
    thredded.timestamps.init();
    thredded.searchBar.init();
  </script>
<% end %>

<div class="container">
  <header class="navigation" role="banner">
    <%= render 'thredded/shared/top_nav' %>
    <%= render 'thredded/search/form' %>
    <%= render 'thredded/shared/topic_nav' %>
  </header>

  <div class="main">

    <!-- ************************ -->
    <!-- messageboards#index      -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section messageboards' do %>
      <%= render @messageboards %>
      <%= button_to 'Create a New Messageboard',
        new_messageboard_path,
        method: 'get',
        class: 'button-wide'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#index             -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section topics' do %>
      <%= render 'thredded/topics/form',
        messageboard: messageboard,
        topic: @new_topic
        %>
      <%= render @decorated_topics  %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#show              -->
    <!-- ************************ -->

    <%= content_tag_for :section, @topic, class: "main-section #{@user_topic.css_class}" do %>
      <header>
        <h1><%= @topic.title %></h1>
      </header>

      <%= render @posts %>

      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @topic,
        post: @post,
        button_text: 'Submit Reply'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- posts#edit               -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section posts-form' do %>
      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @topic,
        post: @post,
        button_text: 'Update Post'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- preferences#edit         -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section preferences-form' do %>
      <h1>Update Preferences For <%= messageboard.name %></h1>

      <%= render 'thredded/preferences/form',
        messageboard: messageboard,
        preference: @preference
        %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#index     -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section private-topics' do %>
      <%= render 'thredded/private_topics/no_private_topics' %>
      <!-- 👆  no topics found || 👇  existing private topics  -->
      <%= render @decorated_private_topics %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#new       -->
    <!-- ************************ -->

    <%= content_tag :section, class: 'main-section private-topics-form' do %>
      <%= render 'thredded/private_topics/form',
        messageboard: messageboard,
        private_topic: @new_private_topic
        %>
    <% end %>

    <!-- ************************ -->
    <!-- private_topics#show      -->
    <!-- ************************ -->

    <%= content_tag_for :section, @private_topic, class: 'main-section private-topic' do %>
      <header>
        <h1><%= @private_topic.title %></h1>
      </header>

      <%= render @private_topic.posts %>

      <%= render 'thredded/posts/form',
        messageboard: @messageboard,
        topic: @private_topic,
        post: @post,
        button_text: 'Submit Reply'
        %>
    <% end %>

    <!-- ************************ -->
    <!-- topics#pagination        -->
    <!-- ************************ -->

    <footer>
      <%= paginate @topics %>
    </footer>
  </div>

  <aside>
    <%= render 'thredded/shared/currently_online' %>
  </aside>
</div>
