<nav role="navigation" class="user-navigation">
  <ul>
    <li class="user-navigation--search">
      <%= render 'thredded/search/form' %>
    </li>

    <% if signed_in? %>
      <% if messageboard %>
        <li class="main--nav--notification--preferences">
          <%= link_to edit_messageboard_preferences_path(messageboard) do %>
            <span>Notification Settings</span>
          <% end %>
        </li>
      <% end %>

      <li class="main--nav--user">
        <%= link_to "/users/#{current_user}" do %>
          <span><%= current_user %></span>
        <% end %>
      </li>

      <li class="main--nav--sign-out">
        <%= link_to main_app.session_path, method: :delete do %>
         <span>Sign Out</span>
        <% end %>
      </li>

    <% else %>
      <li class="main--nav--sign-in-register">
        <%= link_to main_app.sessions_new_path do %>
          <span>Sign In / Register</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
