<% content_for :no_app_layout, true %>
<div class="home">
  <div class="home-masthead">
    <div class="home-container">
      <h1 class="home-masthead-title">Thredded</h1>
      <p class="home-masthead-lead">
        Forums, feature-rich and simple.<br>An engine for <span class="home-nowrap">Ruby on Rails</span>.<br>
      </p>
      <nav class="home-masthead-nav">
        <ul>
          <li class="home-current"><a href="/">About</a></li>
          <li><a href="<%= thredded.root_path %>">Demo</a></li>
          <li><a href="https://github.com/thredded/thredded">GitHub</a></li>
          <li><a href="http://www.rubydoc.info/gems/thredded">Docs</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="home-about">
    <div class="home-container">
      <section>
        <p>
          Format your posts with <b>Markdown</b> and some <b>BBCode</b>, by default.
        </p>

        <p>
          Never miss an update with <b>@-mentions</b>, email notifications, and (un)read posts tracking.
        </p>

        <p>
          Enjoy the <b>minimalistic fully-responsive default theme</b> configurable via Sass.
        </p>

        <p>
          Find posts quickly with <b>full-text search</b>, using only the database.
        </p>

        <p>
          Stop the trolls with a basic <b>moderation system</b>.
        </p>

        <p>Thredded also has:</p>
        <ul>
          <li>Private group messaging.</li>
          <li>List of currently online users, global and per-messageboard.</li>
          <li>(Un)read posts tracking.</li>
          <li>Pinned and locked topics.</li>
        </ul>

        <p>
          Thredded has <b>no infrastructure dependencies other than the database</b>.<br>
          Currently, Thredded supports SQLite, MySQL v5.6.4+, and PostgreSQL.
        </p>

        <p>
          Thredded can be <b>easily integrated</b> into the rest of your Rails app as an engine, and will work with
          your existing auth. There is also a one-step app generator that can create a new Rails app with
          Thredded.
        </p>

        <p>
          Thredded has been <b>built for extensibility</b>, and provides a modular post rendering pipeline, flexible
          permissions system.
        </p>

        <p>Thredded uses <b>i18n</b> throughout and has been translated into Brazilian Portuguese.</p>
      </section>

      <section>
        <h3><%= link_to 'See it in action', thredded.root_path %></h3>
        <ul>
          <li>
            <%= link_to 'Demo forums', thredded.root_path %>. The demo is reset daily.
          </li>
          <% unless Rails.env.production? -%>
              <li>
                <%= link_to 'Preview theme', thredded.theme_preview_path %> on a single page aggregating all of the
                views and styles.
              </li>
          <% end -%>
          <li>
            <%= link_to 'See the e-mails', rails_email_preview.rep_root_path %> sent by Thredded.
          </li>
          <li>
            <%= link_to 'Sign in', new_user_session_path %> as anyone to post, create threads, etc.
            The only requirement in this demo app is a username.
          </li>
        </ul>
      </section>

      <p>
        See the <a href="https://github.com/thredded/thredded">source code on GitHub</a>.
      </p>

      <footer>
        <p>
          Thredded supports Rails v4.2+.
          This demo app is powered by Rails v<%= Rails::VERSION::STRING %>.
        </p>

        <p>
          <a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fthredded.org%2Fthredded&tab=mobile">
            Page Speed</a> score of <span class="home-page-speed-score">99+ / 100</span> User Experience and
            and <span class="home-page-speed-score">88+ / 100</span> Speed on Mobile.
        </p>
      </footer>
    </div>
  </div>
</div>
