<header class="thredded--topic-header">
  <h1 class="thredded--topic-header--title"><%= topic.title %></h1>
  <cite class="thredded--topic-header--started-by">
    <%= t 'thredded.topics.started_by_html',
          time_ago: time_ago(topic.created_at),
          user:     user_link(topic.user) %>
  </cite>
  <% if topic.can_update? %>
    <%= link_to t('thredded.topics.edit'), topic.edit_path,
                class: 'thredded--topic-header--edit-topic' %>
  <% end %>
  <% if thredded_current_user %>
    <% if topic.followed? %>
      <div class="thredded--topic-header--follow-info">
        <%= inline_svg 'thredded/follow.svg', class: 'thredded--topic-header--follow-icon' %>
        <div>
          <%= topic_follow_reason_text topic.follow_reason %>
          <%= button_to 'Stop following', topic.unfollow_path %>
        </div>
      </div>
    <% else %>
      <div class="thredded--topic-header--follow-info">
        <%= button_to 'Follow this topic', topic.follow_path %>
      </div>
    <% end %>
  <% end %>
  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>
</header>
