<% if messageboard.categories.any? %>
  <li class="category">
    <%= f.select :category_ids, messageboard.category_options, {}, {
        multiple: true,
        'data-placeholder' => 'Categories',
        tabindex: 4
      } %>
  </li>
<% end %>

<% if signed_in? && current_user.admins?(messageboard) %>
  <li class="locked">
    <%= f.label :locked do %>
      Locked <%= f.check_box :locked %>
    <% end %>
  </li>

  <li class="sticky">
    <%= f.label :sticky do %>
      Sticky <%= f.check_box :sticky %>
    <% end %>
  </li>
<% end %>

<% if action_name != 'edit' %>
  <%= f.fields_for :posts do |post_form| %>
    <%= render partial: 'posts/form', locals: { f: post_form } %>
  <% end %>
<% end %>
