<% topic = form.object.respond_to?(:topic) ? form.object.topic : form.object %>
<% if policy(topic).moderate? %>
  <li class="thredded--form-list--admin-options">
    <%= form.label :locked do %>
      <%= form.check_box :locked %> <%= t 'thredded.topics.locked.label' %>
    <% end %>

    <%= form.label :sticky do %>
      <%= form.check_box :sticky %> <%= t 'thredded.topics.sticky.label' %>
    <% end %>
  </li>
<% end %>
