<% if can? :read, topic.original %>
  <%= content_tag_for :article, topic, class: topic.css_class do %>
    <div class="post_count"><%= topic.posts_count %></div>

    <h1>
      <%= link_to topic.title,
        paged_messageboard_topic_posts_path(
          messageboard.slug,
          topic.slug,
          topic.farthest_page
        )
      %>
    </h1>

    <cite class="updated_by">
      <%= topic.updated_at_timeago %>
      <%= topic.last_user_link %>
    </cite>

    <cite class="started_by">
      <%= topic.created_at_timeago %>
      <%= topic.user_link %>
    </cite>

    <% if topic.categories.any? %>
      <ul class="categories">
        <%= render topic.categories %>
      </ul>
    <% end %>
  <% end %>
<% end %>
