<% if messageboard.categories.any? %>
  <li class="category">
    <%= form.select :category_ids,
      messageboard.category_options,
      {}, { multiple: true, 'data-placeholder' => 'Categories' } %>
  </li>
<% end %>

<% if can? :manage, form.object %>
  <li class="locked">
    <%= form.label :locked do %>
      Locked <%= form.check_box :locked %>
    <% end %>
  </li>

  <li class="sticky">
    <%= form.label :sticky do %>
      Sticky <%= form.check_box :sticky %>
    <% end %>
  </li>
<% end %>

<% if action_name != 'edit' %>
  <%= form.fields_for :posts do |post_form| %>
    <%= render 'thredded/posts/form', f: post_form %>
  <% end %>
<% end %>
