<%= content_tag_for :article, topic, class: topic.css_class do %>
  <div class="topic-posts-count"><%= topic.posts_count %></div>

  <h1>
    <%= link_to topic.title,
      paged_messageboard_topic_posts_path(
        messageboard.slug,
        topic.slug,
        topic.farthest_page
      )
    %>
  </h1>

  <cite class="topic-updated-by">
    <%== topic.updated_at_timeago %>
    <%== topic.last_user_link %>
  </cite>

  <cite class="topic-started-by">
    <%== topic.created_at_timeago %>
    <%== topic.user_link %>
  </cite>

  <% if topic.categories.any? %>
    <ul class="topic-categories">
      <%= render topic.categories %>
    </ul>
  <% end %>
<% end %>

