<%= content_tag :article,
                id:    dom_id(topic),
                class: ['thredded--topics--topic', topic_css_classes(topic)],
                data: {topic: topic.id, messageboard: topic.messageboard_id} do %>
  <div class="thredded--topics--posts-count"><%= topic.posts_count %></div>

  <div class="thredded--topic-follow-icon">
    <svg viewBox="0 0 116 121">
      <% if thredded_current_user.following?(topic) %>
        <use xlink:href="#thredded-follow-icon"/>
      <% else %>
        <use xlink:href="#thredded-unfollow-icon"/>
      <% end %>
    </svg>
  </div>

  <h1 class="thredded--topics--title">
    <%= link_to topic.title, topic.path %>
  </h1>

  <% if topic.categories.any? %>
    <ul class="thredded--topics--categories">
      <%= render topic.categories %>
    </ul>
  <% end %>

  <cite class="thredded--topics--updated-by">
    <%= time_ago topic.updated_at %>
    <%= user_link topic.last_user %>
  </cite>

  <cite class="thredded--topics--started-by">
    <%= time_ago topic.created_at %>
    <%= user_link topic.user %>
  </cite>

  <% if topic.blocked? && topic.can_moderate? %>
    <span class="thredded--topics--moderation-state thredded--alert thredded--alert-danger">
      <%= render 'thredded/shared/content_moderation_blocked_state', moderation_record: topic.last_moderation_record %>
    </span>
  <% end %>
<% end %>
