<% content_for :thredded_page_title, "Edit \"#{topic.title}\"" %>
<% content_for :thredded_page_id, 'thredded_edit_topic' %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><%= link_to messageboard.name, messageboard_topics_path(messageboard, topic) %></li>
      <li>
        <span>
          Editing Topic <em><%= link_to topic.title, [messageboard, topic] %></em>
        </span>
      </li>
    </ul>
  </nav>
</header>

<div class="forms">
  <ul>
    <%= nested_form_for [@messageboard, @topic], html: { class: :topic_form, multipart: true } do |form| %>
      <%= render 'form', form: form, messageboard: messageboard.decorate %>

      <li class="submit">
        <%= form.submit 'Update Topic' %>
      </li>
    <% end %>
  </ul>
</div>
