<% content_for :thredded_page_title, "Edit \"#{topic.title}\"" %>
<% content_for :thredded_page_id, 'thredded--edit-topic' %>

<% content_for :thredded_breadcrumbs, capture { %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><%= link_to 'All Message Boards', messageboards_path %></li>
    <li><%= link_to messageboard.name, messageboard_topics_path(messageboard, topic) %></li>
    <li>
      <a href="<%= edit_messageboard_topic_path(messageboard, topic) %>">Editing Topic <em><%= topic.title %></em></a>
    </li>
  </ul>
<% } %>

<%= thredded_page do %>
  <%= form_for [messageboard, @topic],
               html: { class: 'thredded--form thredded--is-expanded', 'data-thredded-topic-form' => true } do |form| %>
    <ul class="thredded--form-list on-top">

      <li class="title">
        <%= form.label :title %>
        <%= form.text_field :title, { placeholder: 'Title', autofocus: 'autofocus', } %>
      </li>

      <% if messageboard.categories.any? %>
        <li class="category">
          <%= form.select :category_ids,
                          form.object.decorate.category_options,
                          {},
                          { multiple: true, 'data-placeholder' => 'Categories' } %>
        </li>
      <% end %>

      <%= render 'thredded/topics/topic_form_admin_options', form: form %>

      <li><%= form.submit 'Update Topic', class: 'thredded--form--submit' %></li>
  <% end %>
  </ul>
<% end %>
