<% content_for :thredded_page_title, 'Topics' %>
<% content_for :thredded_page_id, 'thredded_topics_index' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><span><%= messageboard.name %></span></li>
    </ul>
  </nav>
<% end %>

<header class="list_topics">
  <%= yield :breadcrumbs %>
  <%= render 'thredded/shared/currently_online' %>
  <%= render 'thredded/shared/topic_nav' %>
</header>

<section class="topics" id="topics_listing">
  <div class="currently">
    <%= render partial: 'thredded/topics/topic_condensed',
      collection: Thredded::UserTopicDecorator.decorate_all(current_user, @topics),
      as: :topic %>
  </div>
</section>

<footer>
  <%= paginate @topics %>
  <%= yield :breadcrumbs %>
</footer>
