<% content_for :thredded_page_title, 'Create a New Topic' %>
<% content_for :thredded_page_id, 'thredded_new_topic' %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><%= link_to messageboard.name, [messageboard, @new_topic] %></li>
      <li><span>Create New Topic</span></li>
    </ul>
  </nav>
</header>

<div class="topic forms">
  <%= form_for [messageboard, @new_topic] do |form| %>
    <ul>
      <li class="title">
        <%= form.label :title %>
        <%= form.text_field :title, { placeholder: 'Title', autofocus: 'autofocus', } %>
      </li>

      <% if form.object.categories.any? %>
        <li class="category">
          <%= form.select :category_ids,
            form.object.category_options,
            {},
            { multiple: true, 'data-placeholder' => 'Categories' } %>
        </li>
      <% end %>

      <% if can? :admin, form.object.topic %>
        <li class="locked">
          <%= form.label :locked do %>
            Locked <%= form.check_box :locked %>
          <% end %>
        </li>

        <li class="sticky">
          <%= form.label :sticky do %>
            Sticky <%= form.check_box :sticky %>
          <% end %>
        </li>
      <% end %>

      <%= render 'thredded/posts/form', form: form %>

      <li class="submit">
        <%= form.submit 'Create New Topic' %>
      </li>
    </ul>
  <% end %>
</div>
