<% content_for :thredded_page_title, topic.title %>
<% content_for :thredded_page_id, 'thredded--topic-show' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>
  <%= content_tag :section, id: dom_id(topic), class: "thredded--main-section thredded--topic #{user_topic.css_class}" do %>
    <%= render 'thredded/topics/header', topic: topic %>
    <%= render partial: 'thredded/posts/post', collection: @posts, cached: true %>
    <% if policy(@new_post).create? %>
      <div class="thredded--post-form--wrapper">
        <h3 class="thredded--post-form--title">Add a post</h3>
        <%= render 'thredded/posts/form',
                   topic:       topic,
                   post:        @new_post,
                   button_text: t('thredded.posts.form.create_btn') %>
      </div>
    <% end %>

    <% if policy(topic).destroy? %>
      <div class="thredded--topic-delete--wrapper">
        <%= form_tag messageboard_topic_path(messageboard, topic), method: :delete, class: 'thredded--topic-delete-form' do %>
          <%= submit_tag 'Delete Topic', class: 'thredded--form--submit' %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <footer>
    <%= paginate @posts %>
  </footer>
<% end %>
