<% content_for :thredded_page_title, topic.title %>
<% content_for :thredded_page_id, 'thredded-posts' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/messageboard_topics_breadcrumbs') %>

<%= thredded_page do %>
  <%= content_tag_for :section, topic, class: "main-section #{topic.decorate.css_class}" do %>
    <%= render 'thredded/base_topics/header', topic: topic %>
    <%= render @posts %>
    <div class="thredded--post-form--wrapper">
      <h3 class="thredded--post-form--title">Add a post</h3>
      <%= render 'thredded/posts/form',
                 messageboard: messageboard,
                 topic:        topic,
                 post:         @post,
                 button_text:  'Submit Reply' %>
    </div>
  <% end %>
<% end %>

<footer>
  <%= paginate @posts %>
</footer>
