<% content_for :thredded_page_title, "#{@theme.capitalize} Theme" %>
<% content_for :thredded_page_id, 'thredded_theme' %>

<header>
  <%= render 'thredded/shared/stats' %>
  <%= render 'thredded/shared/currently_online' %>
  <%= render 'thredded/shared/topic_nav' %>
</header>

<!-- ************************ -->
<!-- messageboards#index      -->
<!-- ************************ -->

<section id="messageboards">
  <%= render @messageboards %>
</section>

<%= link_to 'Create a New Messageboard', new_messageboard_path, class: 'new_messageboard' %>

<!-- ************************ -->
<!-- topics#index             -->
<!-- ************************ -->

<section class="topics" id="topics_listing">
  <%= render @decorated_topics  %>
</section>

<footer>
  <%= paginate @topics %>
</footer>

<!-- ************************ -->
<!-- topics#new               -->
<!-- ************************ -->

<div class="topic forms">
  <%= render 'thredded/topics/form',
    messageboard: messageboard,
    topic: @new_topic
    %>
</div>

<!-- ************************ -->
<!-- topics#show              -->
<!-- ************************ -->

<%= content_tag_for :section, @topic, class: @user_topic.css_class do %>
  <header><h1><%= @topic.title %></h1></header>
  <section class="posts" id="topics_posts">
    <%= render @posts %>
  </section>
<% end %>

<div class="post forms">
  <%= render 'thredded/posts/form',
    messageboard: @messageboard,
    topic: @topic,
    post: @post,
    button_text: 'Submit Reply'
    %>
</div>

<!-- ************************ -->
<!-- posts#edit               -->
<!-- ************************ -->

<div class="post forms">
  <%= render 'thredded/posts/form',
    messageboard: @messageboard,
    topic: @topic,
    post: @post,
    button_text: 'Update Post'
    %>
</div>


<!-- ************************ -->
<!-- preferences#edit         -->
<!-- ************************ -->
<div class="preference form">
  <h1>Update Preferences For <%= messageboard.name %></h1>

  <%= render 'thredded/preferences/form',
    messageboard: messageboard,
    preference: @preference
    %>
</div>


<!-- ************************ -->
<!-- private_topics#index     -->
<!-- ************************ -->

<!-- EMPTY PRIVATE TOPICS     -->
<%= render 'thredded/private_topics/no_private_topics' %>

<!-- PRIVATE TOPICS           -->
<%= render @decorated_private_topics %>

<!-- ************************ -->
<!-- private_topics#new       -->
<!-- ************************ -->
<section>
  <header>
    <h1>New Private Topic</h1>
  </header>

  <div class="topic forms">
    <%= render 'thredded/private_topics/form',
      messageboard: messageboard,
      private_topic: @private_topic
      %>
  </div>
</section>


<!-- ************************ -->
<!-- private_topics#show      -->
<!-- ************************ -->
<%= content_tag_for :section, @private_topic do %>
  <header>
    <h1><%= @private_topic.title %></h1>
  </header>

  <section class="posts" id="private_topics_posts">
    <%= render @private_topics.posts %>
  </section>
<% end %>


<!-- ************************ -->
<!-- search                   -->
<!-- ************************ -->
<%= render 'thredded/search/form' %>
