<% content_for :thredded_page_title, t('thredded.messageboard_group.create') %>
<% content_for :thredded_page_id, 'thredded--messageboard-groups-new' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li class="thredded--navigation-breadcrumbs--item-no-link">
      <%= t('thredded.messageboard_group.create') %>
    </li>
  </ul>
<% end %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= form_for @messageboard_group, html: { class: 'thredded--form' } do |f| %>
      <ul class="thredded--form-list">
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, required: true %>
        </li>

        <li>
          <%= f.submit t('thredded.messageboard_group.create'),
                       class: 'thredded--form--submit',
                       'data-disable-with' => t('thredded.messageboard_group.form.create_btn_submitting') %>
        </li>
      </ul>
    <% end %>
  </section>
<% end %>
