<% content_for :thredded_page_title,
               safe_join([t('thredded.nav.moderation'), t('thredded.nav.moderation_history')], ': ') %>
<% content_for :thredded_page_id, 'thredded--pending-moderation' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><%= link_to t('thredded.nav.all_messageboards'), messageboards_path %></li>
    <li><%= link_to t('thredded.nav.moderation'), pending_moderation_path %></li>
    <li><%= link_to t('thredded.nav.moderation_history'), moderation_history_path %></li>
  </ul>
<% end %>

<%= thredded_page do %>
  <%= content_tag :section, class: 'thredded--main-section' do %>
    <% if @post_moderation_records.present? %>
      <%= render partial: 'post_moderation_record', collection: @post_moderation_records %>
      <%= paginate @post_moderation_records %>
    <% end %>
  <% end %>
<% end %>
