<% cache [current_user, 'post', post] do %>
  <% post = Thredded::PostDecorator.new(post) %>

  <%= content_tag_for :article, post do %>
    <header>
      <%= image_tag post.avatar_url, class: 'post--avatar' unless post.user_anonymous? %>
      <h2 class="post--user"><%= user_link post.user %></h2>
      <p class="post--created-at"><%= time_ago post.created_at %></p>

    </header>

    <div class="post--content">
      <%= post.filtered_content(self) %>
    </div>

    <% if current_ability.can? :edit, post.original %>
      <%= link_to 'Edit Post', edit_polymorphic_path([messageboard, post.postable, post]), class: 'post--edit' %>
    <% end %>
  <% end %>
<% end %>
