<% if thredded_moderator? %>
  <% current = current_page_moderation? %>
  <li class="thredded--user-navigation--item thredded--user-navigation--moderation<%= ' thredded--is-current' if current %>">
    <%= link_to current ? nav_back_path : pending_moderation_path, rel: 'nofollow' do %>
      <%= inline_svg_tag 'thredded/moderation.svg',
                         class: 'thredded--icon',
                         title: t('thredded.nav.moderation') %>
      <span class="thredded--nav-text"><%= t 'thredded.nav.moderation' %></span>
      <% if posts_pending_moderation_count > 0 %>
        <span class="thredded--user-navigation--moderation--pending-count"><%= posts_pending_moderation_count %></span>
      <% end %>
    <% end %>
  </li>
<% end %>
