<% current = current_page_private_topics? %>
<li class="thredded--user-navigation--item thredded--user-navigation--private-topics<%= ' thredded--is-current' if current %>">
  <%= link_to (current ? messageboards_path : private_topics_path), rel: 'nofollow' do %>
    <%= inline_svg 'thredded/private-messages.svg',
                   class: 'thredded--icon',
                   title: t('thredded.nav.private_topics') %>
    <span class="thredded--nav-text"><%= t('thredded.nav.private_topics') %></span>
    <% if unread_private_topics_count > 0 -%>
      <span class="thredded--user-navigation--private-topics--unread"><%= unread_private_topics_count %></span>
    <% end -%>
  <% end -%>
</li>
