<% current = current_page_unread_topics? %>
<% if unread_topics_count > 0 || current %>
  <li class="thredded--user-navigation--unread-topics thredded--user-navigation--item<%= ' thredded--is-current' if current %>">
    <%= link_to current ? nav_back_path(messageboard) : unread_topics_path(messageboard: messageboard), rel: 'nofollow' do %>
      <span class="thredded--nav-text"><%= t('thredded.nav.unread_topics') %></span>
      <% if unread_followed_topics_count > 0 -%>
        <%= shared_inline_svg 'thredded/follow.svg', class: 'thredded--icon' %>
        <span class="thredded--user-navigation--unread-topics--followed-count"><%=shared_inline_svg "thredded/follow.svg", class: "thredded--unread-topics--followed-icon", role:"img" %>
          <span data-unread-followed-count><%= unread_followed_topics_count %></span></span>
      <% end -%>
    <% end %>
  </li>
<% end %>
