<%= form_for private_topic,
             url:  private_topics_path(@private_topic),
             html: { class: "thredded--form #{local_assigns[:css_class]}", 'data-thredded-topic-form' => true } do |form| %>

  <ul class="thredded--form-list on-top">
    <li class="title">
      <%= form.label :title, 'Private Topic Title' %>
      <%= form.text_field :title, placeholder: placeholder, required: true, 'data-thredded-topic-form-title' => true %>
    </li>
    <li>
      <%= form.label :user_ids, 'Users in Private Topic' %>
      <%= form.text_field :user_ids,
                          placeholder:                 'Select users to participate in this topic',
                          'data-thredded-users-select' => true,
                          'data-autocomplete-url'      => autocomplete_users_path %>
    </li>

    <%= render 'thredded/posts/content_field', form: form %>

    <li><%= form.submit button_text, class: 'thredded--form--submit' %></li>
  </ul>
<% end %>

