<%= form_for private_topic,
             url:  private_topics_path(@private_topic),
             html: { class: "thredded--form #{local_assigns[:css_class]}", 'data-thredded-topic-form' => true } do |form| %>

  <ul class="thredded--form-list on-top">
    <li class="title">
      <%= form.label :title, t('thredded.private_topics.form.title_label') %>
      <%= form.text_field :title, placeholder: placeholder, required: true %>
    </li>
    <li>
      <%= form.label :user_ids, t('thredded.private_topics.form.users_label') %>
      <%= form.text_field :user_ids,
                          placeholder:                   t('thredded.private_topics.form.users_placeholder'),
                          'data-thredded-users-select'   => true,
                          'data-autocomplete-url'        => autocomplete_users_path,
                          'data-autocomplete-min-length' => Thredded.autocomplete_min_length %>
    </li>

    <%= render 'thredded/posts_common/form/content_field',
               form:          form,
               content_label: t('thredded.private_topics.form.content_label') %>

    <li>
      <button type="submit" class="thredded--form--submit"
              data-disable-with="<%= t 'thredded.private_topics.form.create_btn_submitting' %>">
        <%= t('thredded.private_topics.form.create_btn') %>
      </button>
    </li>
  </ul>
<% end %>

