<%= content_tag :article,
                id: dom_id(private_topic),
                class: ['thredded--topics--topic', *topic_css_classes(private_topic)] do %>
  <div class="thredded--topics--posts-count"><%= private_topic.posts_count %></div>

  <h1 class="thredded--topics--title">
    <%= link_to private_topic.title, private_topic.path %>
  </h1>

  <cite class="thredded--topics--updated-by">
    <%= time_ago private_topic.last_post_at%>
    <%= user_link private_topic.last_user %>
  </cite>

  <cite class="thredded--topics--started-by">
    <%= time_ago private_topic.created_at %>
    <%= user_link private_topic.user %>
  </cite>
<% end %>

