<%= content_tag_for :article, private_topic, class: "topics--topic #{private_topic.css_class}" do %>
  <div class="topics--posts-count"><%= private_topic.posts_count %></div>

  <h1 class="topics--title">
    <%= link_to private_topic.title, [messageboard, private_topic.original] %>
  </h1>

  <cite class="topics--updated-by">
    <%= time_ago private_topic.updated_at %>
    <%= user_link private_topic.last_user %>
  </cite>

  <cite class="topics--started-by">
    <%= time_ago private_topic.created_at %>
    <%= user_link private_topic.user %>
  </cite>

  <ul class="topics--categories">
    <%= render private_topic.categories %>
  </ul>
<% end %>

