<% content_for :thredded_page_title, 'Private Topics' %>
<% content_for :thredded_page_id, 'thredded_private_topics_index' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><span><%= messageboard.name %></span></li>
    </ul>
  </nav>
<% end %>

<header class="list_topics">
  <%= yield :breadcrumbs %>
  <%= render 'thredded/shared/currently_online' %>
  <%= render 'thredded/shared/topic_nav' %>
</header>

<section class="topics" id="topics_listing">
  <div class="currently">
    <% if @private_topics.empty? %>
      <%= render 'no_private_topics' %>
    <% else %>
      <% @decorated_private_topics.each do |private_topic| %>
        <%= content_tag_for :article, private_topic, class: private_topic.css_class do %>
          <div class="post_count"><%= private_topic.posts_count %></div>

          <h1>
            <%= link_to private_topic.title, [messageboard, private_topic.original] %>
          </h1>

          <cite class="updated_by">
            <%== private_topic.updated_at_timeago %>
            <%== private_topic.last_user_link %>
          </cite>

          <cite class="started_by">
            <%== private_topic.created_at_timeago %>
            <%== private_topic.user_link %>
          </cite>

          <ul class="categories">
            <%= render private_topic.categories %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>

<footer>
  <%= paginate @private_topics %>
  <%= yield :breadcrumbs %>
</footer>
