<% content_for :thredded_page_title, 'Private Topics' %>
<% content_for :thredded_page_id, 'thredded_private_topics_index' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><span><%= messageboard.name %></span></li>
    </ul>
  </nav>
<% end %>

<header class="list_topics">
  <%= yield :breadcrumbs %>
  <%= render 'thredded/shared/currently_online' %>
  <%= render 'thredded/shared/topic_nav' %>
</header>

<section class="topics" id="topics_listing">
  <div class="currently">
    <% if @private_topics.empty? %>
      <%= render 'no_private_topics' %>
    <% else %>
     <%= render partial: 'topic_condensed',
        collection: @decorated_private_topics,
        as: :private_topic %>
    <% end %>
  </div>
</section>

<footer>
  <%= paginate @private_topics %>
  <%= yield :breadcrumbs %>
</footer>
