<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><%= link_to messageboard.name, [messageboard, @private_topic] %></li>
      <li><span>Create New Topic</span></li>
    </ul>
  </nav>
</header>


<div class="topics forms">
  <%= nested_form_for([messageboard, @private_topic],
    url: messageboard_private_topics_path(messageboard, @private_topic),
    html: { multipart: true, class: :topic_form }) do |form| %>

    <ul>
      <%= render 'form', form: form, messageboard: messageboard.decorate %>

      <li class="submit">
        <%= form.submit 'Create New Private Topic' %>
      </li>
    </ul>
  <% end %>
</div>
